{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
  ],
  "comments": false,
  "ignore": [
    "./src/__tests__"
  ]
}